#root {
  width: 100%;
  margin: auto;
  padding: 2rem;
  text-align: center;
}
body {
  background: rgb(183, 207, 185);
  color: black;
  background: linear-gradient(
    180deg,
    rgb(183, 207, 207) 0%,
    rgb(185, 199, 195) 20%,
    rgba(253, 253, 253, 0.993) 100%
  );
}
button {
  margin: 3px;
}
button.admin {
  font-family: Arial, Helvetica, sans-serif;
  margin: 12px;
  box-shadow: 2px 2px 8px #888888;
}
.navLink {
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5857;
  cursor: pointer;
  overflow: hidden;
  padding: 12px;
}
.material-symbols-outlined {
  color: rgb(151, 145, 136);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
h2 {
  margin-bottom: 0;
  padding: 0;
}
h3 {
  margin: 0;
}
.card {
  padding: 1em;
}
.grey {
  color: #888;
}
ul {
  font-family: "Jura", sans-serif;
}
.tag {
  background-color: #2ecc71;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  margin: 1px;
}
.tag:hover {
  background-color: #18a753;
}
.tag.clicked {
  color: rgb(255, 255, 255);
  background-color: #118340;
  outline: rgb(0, 0, 0) auto 2px;
}
.flex {
  flex: auto;
  margin: 16px;
}
.infoLink a {
  color: white;
  margin: 14px;
  padding: 10px;
  text-shadow: 1px 1px 2px black, 0 0 25px;
}
.infoLink a:hover {
  color: black;
  text-shadow: 1px 1px 2px rgb(70, 233, 83), 0 0 25px rgb(18, 158, 5),
    0 0 5px rgb(194, 194, 231);
  transition: 1s;
  width: 450px;
  height: auto;
}

.tables {
  justify-content: center;
  content: center;
  display: flex;
  flex-wrap: wrap;
}
.singleTable {
  margin: 30px;
}

footer {
  color: rgb(151, 145, 136);
  margin-top: 6px;
}

/* table styling */
table {
  background-color: #e2e2e2;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  padding: 3px;
  margin: auto;
}
table.admin {
  max-width: 300px;
  cursor: pointer;
}
thead {
  font-family: "Jura", sans-serif;
}
tbody {
  background-color: #e2e2e2;
}
td {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}
td:nth-child(1) {
  background-color: #f8f8f8;
}

.score.hidden {
  visibility: hidden;
  font-family: "Jura", sans-serif;
}

.score {
  visibility: visible;
  font-family: "Jura", sans-serif;
}

.submitBox {
  background-color: #e2e2e2;
  border-radius: 0 0 10px 10px;
  padding: 5px;
}

.adminPanel.hidden,
.delPanel.hidden,
.addPanel.hidden,
.editPanel.hidden {
  display: none;
}
.adminPanel {
  display: block;
  font-family: "Jura", sans-serif;
  max-width: fit-content;
  margin: auto;
  padding: 10px;
}
.editPanel,
.delPanel,
.infoPanel {
  display: flex;
  padding: 10px;
  margin: auto;
  justify-content: center;
}
.infoPanel .flex {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 1px 5px #888888;
  width: 280px;
  padding: 10px;
}

.infoPanel span {
  font-family: "Jura", sans-serif;
}
.infoPanel span:first-child {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/*Alternating colors for even tables*/
.singleTable:nth-child(even) table {
  background-color: #2ecc71;
  color: white;
}
.singleTable:nth-child(even) td:nth-child(1) {
  background-color: #0d8d42;
  color: white;
}
.singleTable:nth-child(even) tbody:nth-child(2) {
  background-color: #2ecc71;
}
.singleTable:nth-child(even) .submitBox {
  background-color: #2ecc71;
}
.singleTable:nth-child(even) button {
  color: white;
  background-color: #0d8d42;
}

@media (max-width: 600px) {
  .editPanel,
  .delPanel {
    flex-direction: column; /* Stack elements vertically */
  }
}
